/*---------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&family=Faster+One&display=swap&family=Exo+2&display=swap&family=Permanent+Marker&display=swap');

/*- removes white-space on load on some devices - no effect for most -*/

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/*---------------------- Colours */
.bg-custom {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(235, 64, 52, 1);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB4020', endColorstr='#E6ED1C', GradientType=1);
  /* IE6-9 */
}

.ui-menu-color-home {
  background-color: #ec441a;
  border-radius: 33%;
}

.ui-menu-color-shop {
  background-color: #009933;
  border-radius: 33%;
}

.ui-menu-color-gallery {
  background-color: #3498db;
  border-radius: 33%;
}

.ui-menu-color-sign-up {
  background-color: #525252;
  border-radius: 33%;
}

.bg-shop {
    background-color: #f5f2d0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8%;
    margin-bottom: 8%;
    color: #36454f;
    font-family: "Chivo", sans-serif;
}

/*---------------------- Header/Navigation */

/*--- logo ---*/
.logo img {
 max-width: 233px;
 max-height: auto;
 border-radius: 18%;
 box-shadow: 4px 4px 4px 2px rgba(0,0,0,.5);
}

/*--- active link ---*/
.uline:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 33%;
    border-bottom: 3px solid yellow; 
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menuitem {
  height: auto;
  width: 90px;
  text-align: center;
  padding: 0;
}

 ul li {
  list-style: none;
}

 ul li a {
  text-decoration: none;
  padding: 0 50px;
  display: block;
}

.name {
  font-family: "Chivo", sans-serif;
  font-size: 12px;
  color: #f5f2d0;
  text-transform: uppercase;
}

 ul li a .icon {
  padding-top: 1px;
  color: #f5f2d0;
}

/*- navigation links fontawesome fonts -*/
  .icon .fa {
  font-size: 22px;
}

 .icon .fab {
  font-size: 22px;
}

  .icon .far {
  font-size: 22px;
}

  .icon .fas {
  font-size: 22px;
}

/*---------------------- Toggler */

/*- removes the lingering button shadow after pushing -*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*---------------------- hvr.css */

.hvr-bounce-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 33%;
}

/*---------------------- Main Content */

/*- all the introductory text in just below the header -*/
.home-p {
    font-family: "Chivo", sans-serif;
    color: #36454f;
}

#t-mid {
    display: flex;
    justify-content: center;
}

.shop-heading {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    color: #36454f;
    margin-top: 6%;
    margin-bottom: -18px;
}

.shop-heading:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 94px;
    border-bottom: 3px solid #36454f;
    padding-bottom: 2px;
    }


.sublogo {
    font-family: "Faster One", sans-serif;
    color: rgb(68, 219, 44, 1);
    font-size: 180%;
    letter-spacing: 4px;
    text-shadow: 0px 3px 0px rgba(0,0,0,.5);
}

/*- adding a two column list for opening hours -*/
.two-cols {
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/*--- Carousel ---*/

.c-size {
    max-width: 720px;
    height: auto;
}

.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.extend {
    margin-bottom: 14px;
}
/*--- Booking Button Home ---*/

#btn-home {
    margin-bottom: 22px;
}

/*--- Button Universal ---*/

.btn--custom {
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    width: 180px;
    border-radius: 37px;
    outline: 0 !important;
    box-shadow: none !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
  }

  .btn--custom2 {
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    outline: 0 !important;
    box-shadow: none !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
  }

  .btn--custom3 {
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    border-radius: 21px;
    outline: 0 !important;
    box-shadow: none !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
  }

/*--- Google Maps ---*/

.map {
     height: 200px;  
     width: 100%;
     margin-bottom: 14px;
     margin-top: 4px;
     border: 2px solid rgba(0, 0, 0, 0.2);
}

.map-header-custom {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    color: #36454f;
}

.map-header-custom:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 104px;
    border-bottom: 3px solid #36454f; 
}

/*---------------------- Modals */

.modal-title {
    font-family: "Faster One", sans-serif;
    font-size: 21px;
    color: #36454f;
}

.custom-label,
.dd-custom,
.wheel-text {
    font-family: "Chivo", sans-serif;
    color: #36454f;
}

.dd-custom {
    margin-bottom: 15px;
}

.btn--submit {
    text-align: center;
}

.img--custom-wheel2 {
    width: 225px;
    height: auto;    
}

.modal--footer-custom {
    width: auto;
    height: 64px;
    margin-top: 11px;
    
}

/*----------------------- progress bars */

.bg-al {
    background-color: #ADB2BD;
}

.bg-c {
    background-color: #36454f;
}

.bg-mg {
    background-color: #3a68bf;
}

.bg-ni {
    background-color: #ef9727;
}

.bg-steel {
    background-color: #02b152;
    }

.bg-null {
    background-color: rgb(233,236,239);
}

/*- applies to the text within the progress bars - null for the gray area -*/
.null-text,
.text-info {
    font-family: "Chivo", sans-serif;
    color: #36454f;     
}

.progress {
    margin-left: 40px;
    margin-right: auto;
}


/*----------------------- Shop */

.enlarge img {
    transition: transform 0.3s;
    border: none;
}

.enlarge img:hover {
    transform: scale(1.1);
}

.img--custom-wheel {
    height: 200px;
    width: auto;
}

.wheel-text {
    text-align: left;    
}

.CVV {
    width: 33%;
}

/*- CVV help icon -*/
.questionmark {
    font-size: 14px;
    margin-left: 20px;
}

/*- removes spinner icons from number inputs - not currently used, but maybe at a later stage -*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* shop images background */
.bg-grey {
    background-color: rgba(211, 211, 211, 0.2);
    border-right: solid 14px #fff;
    padding-bottom: 12px;
}

 .credit_cards img {
 width: 48px;
 height: auto;
}

.payment-heading h1 {
    font-family: "Exo 2", sans-serif;
    color: #36454f;

}


/*----------------------- Gallery */

/*- previous and next buttons on carousel - desktop only -*/
.chevron {
    font-size: 48px;
    color: purple;
    background-color: white;
    border-radius: 50%;
}

.extra-pad {
    padding-bottom: 44px;
}

/*- f = facbook, T = twitter, YT = youtube and R = reddit --- affects only the modal icons -*/
.icons-gallery-f i {
    color: #3B5998;
    padding-left: 18px;
    padding-right: 18px;
    text-shadow: 2px 2px 4px #3b5998;
}

.icons-gallery-T i {
    color: #55ACEE;
    padding-right: 18px;
    text-shadow: 2px 2px 4px #55acee;
}

.icons-gallery-YT i {
    color: #bb0000;
    padding-right: 18px;
    text-shadow: 2px 2px 4px #bb0000;
}

.icons-gallery-R i {
    color: #ff5700;
    padding-right: 18px;
    text-shadow: 2px 2px 4px #ff5700;
}

/*----------------------- Sign-up */

/*- highlights the 10% discount sign in text -*/
.standout {
    color: red;
    font-family: "Permanent Marker", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.form {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.form-bg {
    background-color: rgba(211, 211, 211, 0.2);
    margin-bottom: 1rem;
}

 /*---------------------- Footer */

footer h5 {
    color: #fff;
    font-family: "Chivo", sans-serif;
}

footer p {
    color: #fff;
    font-family: "Exo 2", sans-serif;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/*- removes underline from hyperlinks -*/
.details a {
    padding: 0%;
    text-decoration: none;
    color: #fff;
}

/*- highlights email and copyright links */
.details a:hover {
    color: blueviolet;
}

.fa-facebook {
    color: #525252;
}

.fa-twitter {
    color: #525252;
}

.fa-youtube {
    color: #525252;
}

.fa-reddit {
    color: #525252;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #55acee;
  }

.fa-youtube:hover {
  color: #bb0000;
}

.fa-reddit:hover {
  color: #ff5700;
}

/*- indenting text in footer to line up with text above responsively */
.no-disp {
    margin-left: 37px;      
}


