/*---------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&family=Faster+One&display=swap&family=Exo+2&display=swap');

/*---------------------- Colours */
.bg-custom {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(235, 64, 52, 1);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(235, 64, 52, 1) 0%, rgba(230, 237, 28, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB4020', endColorstr='#E6ED1C', GradientType=1);
  /* IE6-9 */
}

.ui-menu-color-home {
  background-color: #ec441a;
  border-radius: 33%;
}

.ui-menu-color-shop {
  background-color: #009933;
  border-radius: 33%;
}

.ui-menu-color-gallery {
  background-color: #3498db;
  border-radius: 33%;
}

.ui-menu-color-sign-up {
  background-color: #525252;
  border-radius: 33%;
}

.bg-shop {
    background-color: #f5f2d0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8%;
    margin-bottom: 8%;
    color: #36454f;
    font-family: "Chivo", sans-serif;
}



/*---------------------- Header/Navigation */

/*--- logo ---*/
.logo img {
 max-width: 233px;
 max-height: auto;
 border-radius: 18%;
 box-shadow: 4px 4px 4px 2px rgba(0,0,0,.5);
}

/*--- active link ---*/
.uline:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 33%;
    border-bottom: 3px solid yellow; 
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menuitem {
  height: auto;
  width: 90px;
  text-align: center;
  padding: 0;
}

 ul li {
  list-style: none;
}

 ul li a {
  text-decoration: none;
  padding: 0 50px;
  display: block;
}

.name {
  font-family: "Chivo", sans-serif;
  font-size: 12px;
  color: #f5f2d0;
  text-transform: uppercase;
}

 ul li a .icon {
  padding-top: 1px;
  color: #f5f2d0;
}

 ul li a .icon .fa {
  font-size: 22px;
}

 ul li a .icon .fab {
  font-size: 22px;
}

 ul li a .icon .far {
  font-size: 22px;
}

 ul li a .icon .fas {
  font-size: 22px;
}

/*---------------------- hvr.css */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*---------------------- hvr.css */

.hvr-bounce-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 33%;
}

/*---------------------- Main Content */

.home-p {
    font-family: "Chivo", sans-serif;
    color: #36454f;
}

#t-mid {
    display: flex;
    justify-content: center;
}

.shop-heading {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    color: #36454f;
    margin-top: 18%;
    margin-bottom: -14px;
}

.shop-heading:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 94px;
    border-bottom: 3px solid #36454f; 
}


.sublogo {
    font-family: "Faster One", sans-serif;
    color: rgb(68, 219, 44, 1);
    font-size: 180%;
    letter-spacing: 4px;
    text-shadow: 0px 3px 0px rgba(0,0,0,.5);
}

.two-cols {
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/*--- Carousel ---*/

.c-size {
    max-width: 720px;
    height: auto;
}

.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.extend {
    margin-bottom: 14px;
}
/*--- Booking Button Home ---*/

#btn-home {
    margin-bottom: 22px;
}

/*--- Button Universal ---*/

.btn-custom {
    color: #fff;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
}



/*--- Google Maps ---*/

#map {
        height: 200px;  
        width: 100%;
        margin-bottom: 14px;
        margin-top: 4px;
        border: 2px solid rgba(0, 0, 0, 0.2);
       }

.map-heading {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    color: #36454f;
}

.map-heading:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 104px;
    border-bottom: 3px solid #36454f; 
}


/*---------------------- Footer */

footer h5 {
    color: #fff;
    font-family: "Chivo", sans-serif;
}

footer p {
    color: #fff;
    font-family: "Exo 2", sans-serif;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.details a {
    padding: 0%;
    text-decoration: none;
    color: #fff;
}

.details a:hover {
    color: blueviolet;
}

.fa-facebook {
    color: #525252;
}

.fa-twitter {
    color: #525252;
}

.fa-youtube {
    color: #525252;
}

.fa-reddit {
    color: #525252;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-twitter:hover {
  color: #55ACEE;
  }

.fa-youtube:hover {
  color: #bb0000;;
}

.fa-reddit:hover {
  color: #ff5700;
}

 
.no-disp {
    margin-left: 37px;      
}


